.trialogue {
  &__widget {
    display: flex;
    min-height: 280px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ccc;
    overflow: hidden;
  }

  &__messages-history,
  &__message {
    flex: 100%;
  }
  &__message {
    padding-bottom: 4rem;
  }
  &__messages-history {
    padding-top: 4rem;
  }
  &__message-guest {
    text-align: right;
    background-color: #e6e6e6;
  }
  &__message-meta {
    text-align: center;
    color: #666;
  }
  &__message-host {
    text-align: left;
    background-color: #f2f2f2;
  }
  &__message__inner,
  &__messages-history__inner {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    img {
      min-width: auto;
      max-width: 200px;
    }
  }

  &__bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
  }
  &__bottom-bar__buttons {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    .btn-text {
      background-color: #e6e6e6;
      color: #666;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      .no-touch &:not(.is-disabled):not(.is-locked):hover {
        background-color: #e6e6e6;
        color: #222;
      }
      &.is-disabled {
        visibility: hidden;
      }
    }
  }
  /*theme*/
  &__message-host,
  &__message-guest {
    position: relative;
  }
  .trialogue__messages-history-sender,
  .trialogue__message-sender {
    &::before {
      position: absolute;
      content: '';
      width: 2rem;
      height: 2rem;
      top: 0.5rem;
      border-radius: 50%;
      padding: 0.3rem;
    }
  }
  &__message-host {
    div:first-child {
      padding-left: 1rem;
    }
    .trialogue__messages-history-sender,
    .trialogue__message-sender {
      &::before {
        content: '';
        background: #ccc;
        left: 0.35rem;
      }
    }
  }
  &__message-guest {
    div:first-child {
      padding-right: 1rem;
    }
    .trialogue__messages-history-sender,
    .trialogue__message-sender {
      &::before {
        content: '';
        background: #ccc;
        right: 0.35rem;
      }
    }
  }
  .wave {
    position: relative;
  }
  .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 2px;
    background: #ccc;
    animation: wave 1.2s ease-in-out infinite;
  }
  .wave .dot:nth-child(2) {
    animation-delay: 0.1s;
  }

  .wave .dot:nth-child(3) {
    animation-delay: 0.2s;
  }

  @keyframes wave {
    0%,
    100%,
    50% {
      transform: initial;
    }

    25% {
      transform: translateY(-15px);
    }
  }
}
